Repository gardener/landscaper-service, pull requests merged in 2023-05, with the labels that each got.

#151 Upgrade landscaper to v0.58.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  integration-test/vendor/modules.txt
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/webhook/certificates.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/m

#152 Reduces the info logs and reconcile loops for instances
  pkg/controllers/instances/reconcile.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs, area/ipcei

#154 Update Landscaper to Version v0.59.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
  integration-test/vendor/modules.txt
  pkg/apis/openapi/openapi_generated.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
  vendor/modules.txt
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#160 Improve logging for integration tests
  integration-test/pkg/main.go
Labels: needs/ok-to-test, needs/review, size/xs

#161 Add resources for landscaper and sidecar
  .landscaper/landscaper-instance/blueprint/landscaper/deploy-execution.yaml
  .landscaper/landscaper-instance/blueprint/ls-service-target-shoot-sidecar-server/deploy-execution.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
