Repository gardener/landscaper-service, pull requests merged in 2023-11, with the labels that each got.

#239 Fix cleanup of NamespacerRegistrations
  charts/sidecar-rbac/templates/clusterrole-controller.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#241 Update landscaper to version v0.83.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/pkg/util/util.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_context.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_context.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/types_config.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/defaults.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_config.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/defaults.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/readinesschecks/types_healthchecks.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/readinesschecks/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
  integration-test/vendor/modules.txt
  pkg/apis/openapi/openapi_generated.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/types_context.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_context.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#243 Cluster-wide read permissions for landscaper resources
  pkg/controllers/subjectsync/controller.go
Labels: needs/ok-to-test, needs/review, size/xs

#246 upgrade landscaper to 0.84.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#248 upgrade landscaper to 0.85.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#253 upgrade resource cluster kubernetes version to 1.26
  .landscaper/blueprint/shoot-config.json
  hack/setup-testenv.sh
Labels: needs/ok-to-test, needs/review, size/xs
