Repository gardener/landscaper-service, pull requests merged in 2023-06, with the labels that each got.

#168 Update landscaper to version v0.62.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#169 Upgrade machine image of shoot cluster
  .landscaper/blueprint/shoot-config.json
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#170 Update to golang:1.19.10
  .ci/pipeline_definitions
  Dockerfile
  Makefile
  integration-test/docker/Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#177 update landscaper to version v0.65.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/landscaper-values-1510172022
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s
