Repository gardener/landscaper-service, pull requests merged in 2023-02, with the labels that each got.

#76 Deploy execution for sidecar rbac
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-instance/blueprint/sidecar-rbac/deploy-execution.yaml
  .landscaper/landscaper-instance/definition/shoot-configuration.json
  charts/sidecar-rbac/templates/clusterrole-controller.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#79 run integration test only when 'run-int-tests' is in git commit message
  .ci/integration_test_pr
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#80 Load component-cli for cd creation
  .ci/component_descriptor
Labels: needs/ok-to-test, needs/review, size/xs

#78 OIDC configuration for resource shoot cluster
  .ci/integration_test_pr
  .landscaper/blueprint/blueprint.yaml
  .landscaper/blueprint/deploy-execution.yaml
  charts/sidecar-rbac/templates/clusterrole-controller.yaml
  pkg/apis/config/types_shoot_config.go
  pkg/apis/config/v1alpha1/types_shoot_config.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
Labels: kind/api-change, reviewed/ok-to-test, needs/ok-to-test, needs/review, needs/second-opinion, size/m

#81 use different shoot clusters for pull request integration tests
  .ci/integration_test_pr
  hack/integration-test.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#82 Deep equals for sidecar config in installation spec
  pkg/controllers/instances/reconcile.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#83 replace installation spec deep equal function with generic implementation
  pkg/controllers/instances/installation_equals.go
  pkg/controllers/instances/installation_equals_test.go
  pkg/controllers/instances/reconcile.go
Labels: needs/ok-to-test, needs/second-opinion, size/m

#84 Sidecar permission correction
  cmd/landscaper-service-target-shoot-sidecar-server/app/app.go
  docs/architecture/architecture-and-security.md
  docs/architecture/images/reource-cluster.png
  pkg/apis/config/types_landscaper_service_config.go
  pkg/apis/config/v1alpha1/types_landscaper_service_config.go
  pkg/apis/core/types_availabilitycollection.go
  pkg/apis/core/v1alpha1/types_availabilitycollection.go
  pkg/controllers/namespaceregistration/controller.go
  pkg/controllers/namespaceregistration/reconcile_test.go
  pkg/controllers/subjectsync/controller.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/m

#85 update kubernetes version to 1.25.5
  .landscaper/blueprint/shoot-config.json
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#86 Uncached Client
  cmd/landscaper-service-controller/app/app.go
  cmd/landscaper-service-target-shoot-sidecar-server/app/app.go
  pkg/utils/uncached_client.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#87 [draft] use own init client
  cmd/landscaper-service-target-shoot-sidecar-server/app/app.go
Labels: needs/ok-to-test, needs/review, size/s

#88 Check cu namespace prefix earlier
  pkg/controllers/namespaceregistration/controller.go
  pkg/controllers/subjectsync/controller.go
  pkg/controllers/subjectsync/reconcile_test.go
  pkg/controllers/subjectsync/testdata/reconcile/test1/subjectlist.yaml
  pkg/controllers/subjectsync/testdata/reconcile/test2/subjectlist.yaml
  test/utils/envtest/environment.go
  test/utils/envtest/state.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#92 Update image for resource cluster
  docs/architecture/images/reource-cluster.png
Labels: needs/ok-to-test, needs/review, size/xs

#93 Namespace permission
  pkg/controllers/namespaceregistration/controller.go
  pkg/controllers/namespaceregistration/reconcile_test.go
  pkg/controllers/namespaceregistration/testdata/reconcile/test1/namespaceregistration.yaml
  pkg/controllers/namespaceregistration/testdata/reconcile/test2/namespaceregistration.yaml
  pkg/controllers/subjectsync/constants.go
  pkg/controllers/subjectsync/controller.go
  pkg/controllers/subjectsync/reconcile_test.go
  pkg/controllers/subjectsync/subjects.go
  pkg/controllers/subjectsync/testdata/reconcile/test1/subjectlist.yaml
  pkg/controllers/subjectsync/testdata/reconcile/test2/subjectlist.yaml
Labels: needs/ok-to-test, needs/second-opinion, size/l

#91 Integration Tests Sidecar Controllers
  integration-test/pkg/main.go
  integration-test/pkg/tests/test_namespaceregistration_subjectsync.go
Labels: needs/ok-to-test, needs/second-opinion, size/l

#96 OIDC Configuration
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/type_instance.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/type_landscaperdeployment.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_instance.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_landscaperdeployment.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_shared.go
  pkg/apis/core/type_instance.go
  pkg/apis/core/type_landscaperdeployment.go
  pkg/apis/core/types_shared.go
  pkg/apis/core/v1alpha1/types_instance.go
  pkg/apis/core/v1alpha1/types_landscaperdeployment.go
  pkg/apis/core/v1alpha1/types_shared.go
  pkg/controllers/instances/reconcile.go
  pkg/controllers/landscaperdeployments/reconcile.go
Labels: kind/api-change, reviewed/lgtm, needs/ok-to-test, size/m

#94 add missing blueprint resource
  .landscaper/logging-stack/resources-sap-btp-service-operator.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#98 Generate CRDs with OIDC config
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/.schemes/core-v1alpha1-Instance.json
  pkg/apis/.schemes/core-v1alpha1-LandscaperDeployment.json
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/openapi/openapi_generated.go
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_instances.yaml
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_landscaperdeployments.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#97 Export OIDC kubeconfig
  .landscaper/landscaper-instance/blueprint/installation/landscaper-rbac-subinst.yaml
  .landscaper/landscaper-instance/blueprint/rbac/blueprint.yaml
  .landscaper/landscaper-instance/blueprint/rbac/export-execution.yaml
  integration-test/pkg/tests/test_install_laas.go
  integration-test/pkg/tests/test_update_deployment.go
  integration-test/pkg/tests/test_verify_deployment.go
  integration-test/pkg/util/util.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#100 Improve achitecture documentation
  docs/architecture/architecture-and-security.md
  docs/architecture/images/landscaper-instance-creation.png
  docs/architecture/images/landscaper-instance-details.png
  docs/usage/LandscaperDeployments.md
Labels: needs/ok-to-test, needs/changes, needs/review, size/m

#107 update golang.org/x/net dependency
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/golang.org/x/net/http2/frame.go
  integration-test/vendor/golang.org/x/net/http2/hpack/hpack.go
  integration-test/vendor/golang.org/x/net/http2/server.go
  integration-test/vendor/golang.org/x/sync/AUTHORS
  integration-test/vendor/golang.org/x/sync/CONTRIBUTORS
  integration-test/vendor/modules.txt
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/modules.txt
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#99 only cleanup shoots and configmaps that belong to the corresponding test type
  hack/integration-test.py
  hack/integration-test.sh
  integration-test/pkg/main.go
  integration-test/pkg/test/test_config.go
  integration-test/pkg/tests/test_create_deployment.go
  integration-test/pkg/util/util.go
Labels: needs/ok-to-test, needs/review, size/s

#103 Documentation about communication channels
  docs/architecture/architecture.md
  docs/architecture/images/communication-channels.png
  docs/architecture/security-concepts.md
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#106 Upgrade ingress controller
  .landscaper/ingress-controller/resources.yaml
  hack/dependency-update/ingress-controller.sh
  hack/dependency-update/template/resource-ingress-controller.yaml
  hack/dependency-update/template/resources-ingress-controller.yaml
Labels: reviewed/ok-to-test, needs/ok-to-test, needs/changes, needs/review, size/s, status/accepted

#109 update landscaper version to v0.47.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#112 Update landscaper version to v0.48.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#113 Add communication channel
  docs/architecture/images/communication-channels.png
  docs/architecture/security-concepts.md
Labels: needs/ok-to-test, needs/review, size/xs

#108 NamespaceRegistration Name Prefix: better error msg
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_namespaceregistration.go
  pkg/apis/core/v1alpha1/types_namespaceregistration.go
  pkg/controllers/namespaceregistration/controller.go
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_namespaceregistrations.yaml
Labels: kind/api-change, reviewed/lgtm, needs/ok-to-test, size/xs
