Repository gardener/landscaper-service, pull requests merged in 2023-03, with the labels that each got.

#115 Update Landscaper to Version to v0.49.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#111 Non-Static Kubeconfigs
  .landscaper/landscaper-instance/blueprint/installation/blueprint.yaml
  .landscaper/landscaper-instance/blueprint/installation/landscaper-rbac-subinst.yaml
  .landscaper/landscaper-instance/blueprint/installation/shoot-cluster-subinst.yaml
  .landscaper/landscaper-instance/blueprint/installation/sidecar-rbac-subinst.yaml
  .landscaper/landscaper-instance/blueprint/rbac/blueprint.yaml
  .landscaper/landscaper-instance/blueprint/rbac/deploy-execution.yaml
  .landscaper/landscaper-instance/blueprint/rbac/export-execution.yaml
  .landscaper/landscaper-instance/blueprint/shoot/blueprint.yaml
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-instance/blueprint/shoot/export-execution.yaml
  .landscaper/landscaper-instance/blueprint/sidecar-rbac/blueprint.yaml
  .landscaper/landscaper-instance/blueprint/sidecar-rbac/deploy-execution.yaml
  .landscaper/landscaper-instance/blueprint/sidecar-rbac/export-execution.yaml
  .landscaper/landscaper-instance/definition/rotation-configuration.json
  .landscaper/landscaper-instance/resources.yaml
  charts/sidecar-rbac/templates/_helpers.tpl
  charts/sidecar-rbac/templates/serviceaccount.yaml
  integration-test/pkg/tests/test_verify_deployment.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/installation/installation.go
  pkg/apis/installation/installation.go
  pkg/controllers/instances/reconcile.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#110 proposal multi version
  docs/proposals/multi-version.md
Labels: needs/ok-to-test, needs/changes, needs/review, size/m

#116 Improve connection docu
  docs/architecture/security-concepts.md
Labels: needs/ok-to-test, needs/review, size/xs

#117 update landscaper to version v0.50.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/github.com/docker/cli/cli/config/credentials/native_store.go
  integration-test/vendor/github.com/docker/docker-credential-helpers/credentials/credentials.go
  integration-test/vendor/github.com/docker/docker-credential-helpers/credentials/version.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/validation/installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/landscaper/dataobjects/dataobject.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/landscaper/dataobjects/target.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/landscaper/installations/helper.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/landscaper/installations/operation.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/utils/references.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/v1/artifact.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  integration-test/vendor/github.com/opencontainers/image-spec/specs-go/version.go
  integration-test/vendor/github.com/sirupsen/logrus/README.md
  integration-test/vendor/github.com/sirupsen/logrus/buffer_pool.go
  integration-test/vendor/github.com/sirupsen/logrus/entry.go
  integration-test/vendor/github.com/sirupsen/logrus/logger.go
  integration-test/vendor/github.com/spf13/cobra/command.go
  integration-test/vendor/github.com/spf13/cobra/user_guide.md
  integration-test/vendor/golang.org/x/sync/errgroup/errgroup.go
  integration-test/vendor/modules.txt
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#118 Upgrade to landscaper v0.51
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#119 Remove Secret with Static Sidecar Token
  charts/sidecar-rbac/templates/serviceaccount.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#123 Update Landscaper to Version v0.52.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/pkg/tests/test_update_deployment.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/container/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/utils/constants.go
  integration-test/vendor/github.com/gardener/landscaper/pkg/utils/read_write_layer/logger.go
  integration-test/vendor/github.com/gardener/landscapercli/cmd/installations/inspect/transformer.go
  integration-test/vendor/github.com/gardener/landscapercli/cmd/installations/inspect/tree.go
  integration-test/vendor/github.com/gardener/landscapercli/cmd/quickstart/install.go
  integration-test/vendor/github.com/gardener/landscapercli/pkg/util/util.go
  integration-test/vendor/modules.txt
  pkg/apis/.schemes/core-v1alpha1-Instance.json
  pkg/apis/.schemes/core-v1alpha1-LandscaperDeployment.json
  pkg/apis/.schemes/core-v1alpha1-NamespaceRegistration.json
  pkg/apis/.schemes/core-v1alpha1-ServiceTargetConfig.json
  pkg/apis/.schemes/core-v1alpha1-SubjectList.json
  pkg/apis/openapi/openapi_generated.go
  pkg/controllers/avmonitorregistration/controller.go
  pkg/controllers/healthwatcher/controllger.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#120 ensure to delete target cluster namespace
  integration-test/pkg/main.go
  integration-test/pkg/tests/test_delete_deployment.go
  pkg/controllers/instances/add.go
  pkg/controllers/instances/controller.go
  pkg/controllers/instances/reconcile.go
  pkg/controllers/instances/reconcile_delete.go
  pkg/controllers/instances/reconcile_delete_test.go
Labels: needs/ok-to-test, needs/review, size/m

#124 FixAVCheck during instance deletion
  pkg/controllers/avmonitorregistration/controller.go
  pkg/controllers/avmonitorregistration/reconcile_test.go
  pkg/controllers/avmonitorregistration/testdata/reconcile/test2/instance.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#126 delete clusterroles and bindings created by the landscaper
  pkg/controllers/instances/reconcile_delete.go
  pkg/controllers/instances/reconcile_delete_test.go
  pkg/controllers/instances/testdata/delete/test5/instance.yaml
  pkg/controllers/instances/testdata/delete/test5/servicetargetconf.yaml
Labels: needs/ok-to-test, needs/review, size/m

#127 ensure that resource names and namespaces are of type string
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#129 Higher availability of ingress controller
  .landscaper/ingress-controller/blueprint/deploy-execution.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#128 Upgrade landscaper to v0.53.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  integration-test/vendor/modules.txt
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/m
