Repository gardener/landscaper-service, pull requests merged in 2024-07, with the labels that each got.

#384 Update landscaper to version v0.108.0
  .landscaper/ocm-settings.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
Labels: needs/ok-to-test, needs/review, size/s

#386 Fix shoot settings
  .landscaper/blueprint/shoot-config.json
Labels: needs/ok-to-test, needs/review, size/xs

#388 gardenlinux 1312.7.0
  .landscaper/blueprint/shoot-config.json
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-instance/test/internal-dataplane/values-shoot.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#391 fix(deps): update module github.com/gardener/landscaper to v0.109.0
  .landscaper/ocm-settings.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
Labels: needs/ok-to-test, needs/review, size/m

#409 upgrade to landscaper v0.109.0
  .landscaper/ocm-settings.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
Labels: needs/ok-to-test, needs/review, size/s
