Repository gardener/landscaper-service, pull requests merged in 2024-01, with the labels that each got.

#273 Upgrade gardenlinux to 1312.1.0
  .landscaper/blueprint/shoot-config.json
  .landscaper/landscaper-instance/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-instance/test/internal-dataplane/values-shoot.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#276 Update landscaper to v0.91.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#266 Viewer roles
  cmd/landscaper-service-target-shoot-sidecar-server/app/app.go
  docs/architecture/images/resource-cluster-roles.drawio.png
  docs/architecture/resource-cluster-roles.md
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_subjectlist.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1alpha1/types_subjectlist.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/namespaceregistration/controller.go
  pkg/controllers/subjectsync/clusterroledefinition.go
  pkg/controllers/subjectsync/constants.go
  pkg/controllers/subjectsync/controller.go
  pkg/controllers/subjectsync/reconcile_test.go
  pkg/controllers/subjectsync/roledefinition.go
  pkg/controllers/subjectsync/subjects.go
  pkg/controllers/subjectsync/testdata/reconcile/test1/subjectlist.yaml
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_subjectlists.yaml
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#261 advanced scheduling proposal
  docs/proposals/advanced-scheduling.md
Labels: needs/ok-to-test, needs/changes, needs/review, size/m

#278 Scheduling
  charts/landscaper-service/templates/_helpers.tpl
  docs/usage/TargetScheduling.md
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/register.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_servicetargetconfig.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/types_targetscheduling.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/github.com/gardener/landscaper-service/pkg/utils/utils.go
  pkg/apis/config/v1alpha1/types_landscaper_service_config.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1alpha1/register.go
  pkg/apis/core/v1alpha1/types_servicetargetconfig.go
  pkg/apis/core/v1alpha1/types_targetscheduling.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/landscaperdeployments/reconcile.go
  pkg/controllers/landscaperdeployments/reconcile_test.go
  pkg/controllers/landscaperdeployments/scheduling/scheduling.go
  pkg/controllers/landscaperdeployments/scheduling/scheduling_suite_test.go
  pkg/controllers/landscaperdeployments/scheduling/scheduling_test.go
  pkg/controllers/landscaperdeployments/scheduling/selector.go
  pkg/controllers/landscaperdeployments/scheduling/selector_test.go
  pkg/controllers/landscaperdeployments/scheduling/sort.go
  pkg/controllers/landscaperdeployments/scheduling/sort_test.go
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_servicetargetconfigs.yaml
  pkg/crdmanager/crdresources/landscaper-service.gardener.cloud_targetschedulings.yaml
  pkg/utils/utils.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#280 Improve default scheduling
  pkg/controllers/landscaperdeployments/scheduling/sort.go
Labels: needs/ok-to-test, needs/review, size/xs

#282 Validation of TargetScheduling
  cmd/landscaper-service-webhooks-server/app/options.go
  pkg/apis/validation/targetscheduling.go
  pkg/webhook/instances_test.go
  pkg/webhook/targetscheduling_test.go
  pkg/webhook/webhook.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l, status/closed

#284 update landscaper to v0.93.0
  .landscaper/landscaper-instance/component-references.yaml
  go.mod
  go.sum
  integration-test/go.mod
  integration-test/go.sum
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  integration-test/vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  integration-test/vendor/modules.txt
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/s

#281 create and publish component versions with ocm client
  .ci/component_descriptor
  .ci/component_descriptor_ocm
  .ci/component_descriptor_real
  .landscaper/blueprint/deploy-execution.yaml
  .landscaper/component-references.yaml
  .landscaper/components.yaml
  .landscaper/ingress-controller/resources.yaml
  .landscaper/landscaper-instance/component-references.yaml
  .landscaper/landscaper-instance/resources.yaml
  .landscaper/logging-stack/blueprint/cert-manager/deploy-execution.yaml
  .landscaper/logging-stack/blueprint/sap-btp-service-operator/deploy-execution.yaml
  .landscaper/logging-stack/resources-cert-manager.yaml
  .landscaper/logging-stack/resources-fluentbit.yaml
  .landscaper/logging-stack/resources-sap-btp-service-operator.yaml
  .landscaper/logging-stack/resources.yaml
  .landscaper/ocm-settings.yaml
  .landscaper/resources.yaml
  .landscaper/sources.yaml
  Makefile
  charts/landscaper-service-target-shoot-sidecar-server/values.yaml
  charts/landscaper-service/values.yaml
  hack/create-helm-chart.sh
  hack/dependency-update/cert-manager.sh
  hack/dependency-update/fluentbit.sh
  hack/dependency-update/get-digest.go
  hack/dependency-update/ingress-controller.sh
  hack/dependency-update/sap-btp-operator.sh
  hack/dependency-update/template/resources-cert-manager.yaml
  hack/dependency-update/template/resources-fluentbit.yaml
  hack/dependency-update/template/resources-ingress-controller.yaml
  hack/dependency-update/template/resources-sap-btp-service-operator.yaml
  hack/generate-cd.sh
  hack/integration-test.py
  hack/integration-test.sh
  hack/prepare-docker-builder.sh
  hack/update-helm-chart-version.sh
  integration-test/pkg/main.go
  integration-test/pkg/test/test_config.go
  integration-test/pkg/tests/test_create_deployment.go
  integration-test/pkg/tests/test_install_laas.go
  integration-test/pkg/util/util.go
Labels: reviewed/ok-to-test, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/xl

#286 Prevent instance duplication
  pkg/controllers/landscaperdeployments/reconcile.go
  pkg/controllers/landscaperdeployments/reconcile_delete.go
Labels: needs/ok-to-test, needs/review, size/m
